- if (addons.accessibility)
    include styleAccessibility
- if (addons.carousel)
    include styleCarousel
- if (addons.hamburger)
    include styleHamburger
- if (addons.video)
    include styleVideo
        