- if (addons.accessibility == 'true')
    include styleAccessibility
- if (addons.carousel == 'true')
    include styleCarousel
- if (addons.hamburger == 'true')
    include styleHamburger
- if (addons.video == 'true')
    include styleVideo
        