- if (font.custom !== undefined)

    //  -->
        <!--[if mso]>
        <style>
        body, 
        table, 
        td, 
        th, 
        a,
        span { font-family: #{font.default != '' ? font.default : 'Helvetica, sans-serif'} !important; }
        </style>
        <![endif]--> <!--
        