- const { width } = message;

-
  const style =   
  `
        /* /\\/\\/\\/\\/\\/\\/\\ General Reset /\\/\\/\\/\\/\\/\\/\\ */ 
        
        body {
          margin: 0;
          padding: 0;
        }

        table {
          border-spacing: 0;
        }
        
        td, 
        th {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-weight: normal;
          word-wrap: break-word;
        }
        
        table, 
        td, 
        th {
          border-collapse: collapse;
        }

        img {
          border:0 none;
          height: auto;
          max-width: 100%;
          line-height: 100%;
          outline: none;
          text-decoration: none;
          display: block;
        }

        a {
          text-decoration: none;
          color: inherit;
          outline: 0;
        }

        a img {
          border: 0;
        }

        /* /\\/\\/\\/\\/\\/\\/\\ Client-Specific Resets /\\/\\/\\/\\/\\/\\/\\ */

        /* General */

          /* Prevent Resizing of Small Text */
          * {
            text-size-adjust: none !important;
            -ms-text-size-adjust: none !important;
            -webkit-text-size-adjust: none !important;
          }
          
          div[style*="margin"] {
            margin: 0 !important;
          }

        /* Apple */

          /* Removes blue links on Apple devices */
          a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
          }

        /* Outlook */
        
          /* Visited Link Color */
          span.MsoHyperlink {
            mso-style-priority: 99 !important;
            color: inherit !important;
          }
          span.MsoHyperlinkFollowed {
            mso-style-priority: 99 !important;
            color: inherit !important;
          }
        
          /* "Read in Browser" Link */
          #outlook a {
            padding:0 !important;
          }
        
          /* Prevent Extra Table Spacing */
          table, 
          td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
          }
        
          /* Improve Rendering Method On Image Resize (IE) */
          img {
            -ms-interpolation-mode: bicubic !important;
          }

          /* Centers email (Outlook.com) */
          .ExternalClass {
            width: 100%;
          }

          /* Fix Line Height (Outlook.com) */
          .ExternalClass * {
            line-height: 100%;
          }
        
        /* /\\/\\/\\/\\/\\/\\/\\ Media Queries /\\/\\/\\/\\/\\/\\/\\ */ 

        @media only screen and (max-width: ${width}px) {
          .hide {
            display: none !important;
          }
          
          img {
            max-width:100% !important;
          }
          
          .hauto {
            height:auto !important;
          }
          
          .w100pc {
            width:100% !important;
          }
          
          .full {
            display: block !important;
          }
          
          .pH {
            padding-left: 20px !important;
            padding-right: 20px !important;
          }
          
          .aH--c {
            text-align: center !important;
          }
          .aH--l {
            text-align: left !important;
          }
          .aH--r {
            text-align: right !important;
          }
        }
  `;

style
  | #{style}
