// CSS Reset 
style.

  body {
    height: 100% !important;
    margin:0 !important;
    padding:0 !important;
    width: 100% !important;
  }

  img {
    border:0 none !important;
    height:auto !important;
    line-height:100% !important;
    outline:none !important;
    text-decoration:none !important;
    display: block !important;
  }

  a img {
    border:0 none !important;
  }

  table, 
  td {
    border-collapse:collapse !important;
  }


// Client-specific CSS Styles 
style.

  /* Samsung Mail */
  
    /* Blue Links */
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    }

  /* Outlook.com / Hotmail */
  
    /* .External Class Override */
    .ExternalClass {
        width:100% !important;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height: 100% !important;
    }

  
  /* Outlook 2007 / 2010 / 2013 */
  
    /* "Read in Browser" Link */
    #outlook a {
      padding:0 !important;
    }
  
    /* table td Element Spacing */
    table, 
    td {
      mso-table-lspace:0pt;
      mso-table-rspace:0pt;
    }
  
    /* Image Resizing */
    img {
      -ms-interpolation-mode:bicubic;
    }
  
  
  /* OSX / iOS */
  
    /* WebKit Text Size Adjustment */
    body, 
    table, 
    td, 
    a {
      -webkit-text-size-adjust:100% !important;
    }
    
    /* iOS Blue Links */
    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }
    
  
  /* Windows Mobile */
    
   /* Windows Mobile Text Size Adjustment */
    body, 
    table, 
    td,
    a {
      -ms-text-size-adjust:100% !important;
    }
  

// Custom CSS 
style.

  @media only screen and (max-width: 600px) {
    .hide {
      display: none !important;
    }
    
    img {
      max-width:100% !important;
    }
    
    .hauto {
      height:auto !important;
    }
    
    .w100pc {
      width:100% !important;
    }
    
    .w75pc {
      width:75% !important;
    }
    
    .w66pc {
      width:66.6% !important;
    }
    
    .w50pc {
      width:50% !important;
    }
    
    .w33pc {
      width:33.3% !important;
    }
    
    .w25pc {
      width:25% !important;
    }
    
    .w10pc {
      width:10% !important;
    }
    
    .full {
      display: block !important;
    }
    
    .p0 {
      padding-top: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
    }
    
    .pV0 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    
    .pV {
      padding-top: 0 !important;
      padding-bottom: 16px !important;
    }
    
    .pV:last-child {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    
    .pH0 {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    
    .pH {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }
