style.
  
  /* RESET */ 
  
  body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  table {
    border-spacing: 0;
  }
  
  td, 
  th {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
    word-wrap: break-word;
  }
  
  table, 
  td {
    border-collapse:collapse;
  }

  img {
    border:0 none;
    height: auto;
    max-width: 100%;
    line-height:100%;
    outline:none;
    text-decoration:none;
    display: block;
  }

  a img {
    border:0 none;
  }

  /* GENERAL */

  /* Prevent Small Text Resize */
  * {
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
  }
  
  div[style*="margin"] {
    margin: 0 !important;
  }

  /* Outlook */
  
    /* Visited Link Color */
    span.MsoHyperlink {
      mso-style-priority:99 !important;
      color:inherit !important;
    }
    span.MsoHyperlinkFollowed {
      mso-style-priority:99 !important;
      color:inherit !important;
    }
  
    /* "Read in Browser" Link */
    #outlook a {
      padding:0 !important;
    }
  
    /* Prevent Extra Table Spacing */
    table, 
    td {
      mso-table-lspace:0pt !important;
      mso-table-rspace:0pt !important;
    }
  
    /* Improve Rendering Method On Image Resize (IE) */
    img {
      -ms-interpolation-mode:bicubic !important;
    }

  
  /* MEDIA QUERIES */ 

  @media only screen and (max-width: 600px) {
    .hide {
      display: none !important;
    }
    
    img {
      max-width:100% !important;
    }
    
    .hauto {
      height:auto !important;
    }
    
    .w100pc {
      width:100% !important;
    }
    
    .w95pc {
      width:95% !important;
    }
    
    .w90pc {
      width:90% !important;
    }
    
    .w85pc {
      width:85% !important;
    }
    
    .w80pc {
      width:80% !important;
    }
    
    .w75pc {
      width:75% !important;
    }
    
    .w70pc {
      width:70% !important;
    }
    
    .w65pc {
      width:65% !important;
    }
    
    .w60pc {
      width:60% !important;
    }
    
    .w55pc {
      width:55% !important;
    }
    
    .w50pc {
      width:50% !important;
    }
    
    .w45pc {
      width:45% !important;
    }
    
    .w40pc {
      width:40% !important;
    }
    
    .w35pc {
      width:35% !important;
    }
    
    .w30pc {
      width:30% !important;
    }
    
    .w25pc {
      width:25% !important;
    }
    
    .w20pc {
      width:20% !important;
    }
    
    .w15pc {
      width:15% !important;
    }
    
    .w10pc {
      width:10% !important;
    }
    
    .w5pc {
      width:5% !important;
    }
    
    .full {
      display: block !important;
    }
    
    .pH {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    
    .aH--c {
      text-align: center !important;
    }
    .aH--l {
      text-align: left !important;
    }
    .aH--r {
      text-align: right !important;
    }
  }
  