extends template.pug

block vars

  - var color = {bg: '#FFFFFF', txt: '#000000', hlight: '#000000'};
  //- custom only supports fonts found on https://fonts.google.com/
  - var font = {custom: [{name: 'Montserrat', weights: [400,700]}], default: 'Helvetica, sans-serif'}

block font

  - if (font.custom !== undefined)
    each curFont in font.custom
      - var fontName = curFont.name.split(' ').join('+');
      - var fontWeights = curFont.weights.join(',');
      link(href='https://fonts.googleapis.com/css?family=' + fontName + ':' + fontWeights, rel='stylesheet')/

  // -->
    <!--[if mso]>
    <style>
    body, table, td, th { font-family: #{font.default != '' ? font.default : 'Helvetica, sans-serif'} !important; }
    </style>
    <![endif]--> <!--

block content
       
  +wrapper({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
  
    +row({width: '600', bgColor: 'transparent', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      +column({width: '290', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +subRow({width: '290', bgColor: 'transparent', paddingTop: '0', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
          +column({width: '290', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: 'transparent', bgSrc: 'https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1037cea36bb8bcf2267c7b4872e70012&auto=format&fit=crop&w=802&q=80', bulletproof: 'true', paddingTop: '0', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
            +txt({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '20', paddingRight: '20', paddingBottom: '10', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Montserrat, Helvetica, sans-serif', fontSize: '28', fontWeight: 'bold', lineHeight: '28', fontColor: '#000000', txt: 'Lorem ipsum 1'})

            +txt({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '20', paddingBottom: '16', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Montserrat, Helvetica, sans-serif', fontSize: '14', fontWeight: 'normal', lineHeight: '21', fontColor: '#000000', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis tristique interdum. In facilisis metus arcu, in eleifend felis vulputate auctor. Quisque congue pretium mauris a iaculis. Proin eget tempus nunc. Donec at est sapien.'})

            +btn({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '20', paddingBottom: '0', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', btnWidth: '160', btnColor: '#000000', btnPaddingTop: '16', btnPaddingRight: '24', btnPaddingBottom: '16', btnPaddingLeft: '24', btnBorder: '1px solid #000000', btnBorderRadius: '25', btnFontFamily: 'Montserrat, Helvetica, sans-serif', btnFontSize: '14', btnFontWeight: 'bold', btnLineHeight: '14', btnHref: '#', btnTitle: 'title', btnTxtColor: '#FFFFFF', btnTxt: 'Call-To-Action'})
            
        +subRow({width: '290', bgColor: 'transparent', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
          +column({width: '290', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: 'transparent', bgSrc: 'https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1037cea36bb8bcf2267c7b4872e70012&auto=format&fit=crop&w=802&q=80', bulletproof: 'true', paddingTop: '0', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
            +txt({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '20', paddingRight: '20', paddingBottom: '10', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Montserrat, Helvetica, sans-serif', fontSize: '28', fontWeight: 'bold', lineHeight: '28', fontColor: '#000000', txt: 'Lorem ipsum 2'})

            +txt({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '20', paddingBottom: '16', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Montserrat, Helvetica, sans-serif', fontSize: '14', fontWeight: 'normal', lineHeight: '21', fontColor: '#000000', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis tristique interdum. In facilisis metus arcu, in eleifend felis vulputate auctor. Quisque congue pretium mauris a iaculis. Proin eget tempus nunc. Donec at est sapien.'})

            +btn({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '20', paddingBottom: '0', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', btnWidth: '160', btnColor: '#000000', btnPaddingTop: '16', btnPaddingRight: '24', btnPaddingBottom: '16', btnPaddingLeft: '24', btnBorder: '1px solid #000000', btnBorderRadius: '25', btnFontFamily: 'Montserrat, Helvetica, sans-serif', btnFontSize: '14', btnFontWeight: 'bold', btnLineHeight: '14', btnHref: '#', btnTitle: 'title', btnTxtColor: '#FFFFFF', btnTxt: 'Call-To-Action'})

      +column({width: '20', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
          
      +column({width: '290', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +subRow({width: '290', bgColor: 'transparent', paddingTop: '0', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
          +column({width: '290', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: 'transparent', bgSrc: 'https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1037cea36bb8bcf2267c7b4872e70012&auto=format&fit=crop&w=802&q=80', bulletproof: 'true', paddingTop: '0', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
            +txt({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '20', paddingRight: '20', paddingBottom: '10', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Montserrat, Helvetica, sans-serif', fontSize: '28', fontWeight: 'bold', lineHeight: '28', fontColor: '#000000', txt: 'Lorem ipsum 3'})

            +txt({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '20', paddingBottom: '16', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Montserrat, Helvetica, sans-serif', fontSize: '14', fontWeight: 'normal', lineHeight: '21', fontColor: '#000000', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis tristique interdum. In facilisis metus arcu, in eleifend felis vulputate auctor. Quisque congue pretium mauris a iaculis. Proin eget tempus nunc. Donec at est sapien.'})

            +btn({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '20', paddingBottom: '0', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', btnWidth: '160', btnColor: '#000000', btnPaddingTop: '16', btnPaddingRight: '24', btnPaddingBottom: '16', btnPaddingLeft: '24', btnBorder: '1px solid #000000', btnBorderRadius: '25', btnFontFamily: 'Montserrat, Helvetica, sans-serif', btnFontSize: '14', btnFontWeight: 'bold', btnLineHeight: '14', btnHref: '#', btnTitle: 'title', btnTxtColor: '#FFFFFF', btnTxt: 'Call-To-Action'})
            
        +subRow({width: '290', bgColor: 'transparent', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
          +column({width: '290', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: 'transparent', bgSrc: 'https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1037cea36bb8bcf2267c7b4872e70012&auto=format&fit=crop&w=802&q=80', bulletproof: 'true', paddingTop: '0', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
            +txt({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '20', paddingRight: '20', paddingBottom: '10', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Montserrat, Helvetica, sans-serif', fontSize: '28', fontWeight: 'bold', lineHeight: '28', fontColor: '#000000', txt: 'Lorem ipsum 4'})

            +txt({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '20', paddingBottom: '16', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Montserrat, Helvetica, sans-serif', fontSize: '14', fontWeight: 'normal', lineHeight: '21', fontColor: '#000000', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis tristique interdum. In facilisis metus arcu, in eleifend felis vulputate auctor. Quisque congue pretium mauris a iaculis. Proin eget tempus nunc. Donec at est sapien.'})

            +btn({width: '290', align: 'center', valign: 'top', bgColor: 'transparent', paddingTop: '0', paddingRight: '20', paddingBottom: '0', paddingLeft: '20', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', btnWidth: '160', btnColor: '#000000', btnPaddingTop: '16', btnPaddingRight: '24', btnPaddingBottom: '16', btnPaddingLeft: '24', btnBorder: '1px solid #000000', btnBorderRadius: '25', btnFontFamily: 'Montserrat, Helvetica, sans-serif', btnFontSize: '14', btnFontWeight: 'bold', btnLineHeight: '14', btnHref: '#', btnTitle: 'title', btnTxtColor: '#FFFFFF', btnTxt: 'Call-To-Action'})