extends ./template/template

block vars

  //- /\/\/\/\/\/\/\/\/\/\ General Settings /\/\/\/\/\/\/\/\/\/\

  //- Title
  - 
    let title = 'Newsletter';

  //- Text Settings
  - 
    let font = {
      style: {
        primary: {
          family: 'Open Sans, Helvetica, sans-serif',
          size: '28',
          weight: 'bold',
          height: '32',
          color: '#000000'
        },
        secondary: {
          family: 'Open Sans, Helvetica, sans-serif',
          size: '24',
          weight: 'bold',
          height: '28',
          color: '#000000'
        },
        tertiary: {
          family: 'Open Sans, Helvetica, sans-serif',
          size: '20',
          weight: 'bold',
          height: '24',
          color: '#000000'
        },
        body: {
          family: 'Open Sans, Helvetica, sans-serif',
          size: '15',
          weight: 'normal',
          height: '19',
          color: '#000000'
        },
        small: {
          family: 'Open Sans, Helvetica, sans-serif',
          size: '11',
          weight: 'normal',
          height: '15',
          color: '#000000'
        }
      }
    };

//- /\/\/\/\/\/\/\/\/\/\ Custom Settings /\/\/\/\/\/\/\/\/\/\

//- Custom Fonts & Fallbacks

block customFonts

  style.
    /* Custom Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

  //- Font Fallback
  <!--[if mso]>
    style.      
      .customFont { font-family: Helvetica, sans-serif !important; }
  <![endif]-->

//- Custom CSS

block customCSS

  style.
    /* Media Queries */
    @media only screen and (max-width: 600px) {
      .customClass {
        /* Make sure to add !important to overwrite inline CSS */
      }
    }

block content

  //- /\/\/\/\/\/\/\/\/\/\ Message /\/\/\/\/\/\/\/\/\/\

  // Wrapper 
  +wrapper({customClass: '', width: '600', bulletproof: false, bgSrc: '', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

    // Row 
    +row({customClass: '', noMobilePadding: false, width: '600', direction: 'ltr', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '32', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

      // Spacer
      +spacer({width: '25', mobileWidth: 'hide', bgColor: '#FFFFFF'})

      // Column 
      +column({customClass: '', width: '550', bulletproof: false, bgSrc: '', mobileWidth: '100%', direction: 'ltr', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

        // Image 
        +image({width: '550', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', removeLink: false, imgHref: '#', imgAlt: 'alt', responsive: true, imgSrc: ''})

        // Primary Heading 
        +text({customClass: 'customFont', width: '550', align: 'center', mobileAlignment: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', type: 'primary', txt: ''})

        // Body 
        +text({customClass: 'customFont', width: '550', align: 'center', mobileAlignment: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', type: 'body', txt: ''})
        
        // Button 
        +button({customClass: 'customFont', width: '550', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', bulletproof: false, responsive: false, btnWidth: '200', btnHeight: '50', btnBorder: '0', btnBorderRadius: '0', btnColor: '#000000', btnFontFamily: 'Open Sans,Helvetica,sans-serif', btnFontSize: '14', btnFontWeight: 'normal', btnHref: '#', btnTxtColor: '#FFFFFF', btnTxt: 'Call-to-action'})

      // Spacer
      +spacer({width: '25', mobileWidth: 'hide', bgColor: '#FFFFFF'})

  // Wrapper 
  +wrapper({customClass: '', width: '600', bulletproof: false, bgSrc: '', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

    // Row 
    +row({customClass: '', noMobilePadding: false, width: '600', direction: 'ltr', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

      // Spacer
      +spacer({width: '25', mobileWidth: 'hide', bgColor: '#FFFFFF'})

      // Column 
      +column({customClass: '', width: '265', bulletproof: false, bgSrc: '', mobileWidth: '100%', direction: 'ltr', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

        // Image 
        +image({width: '265', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', removeLink: false, imgHref: '#', imgAlt: 'alt', responsive: true, imgSrc: ''})

        // Secondary Heading 
        +text({customClass: 'customFont', width: '265', align: 'center', mobileAlignment: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', type: 'secondary', txt: ''})

        // Body 
        +text({customClass: 'customFont', width: '265', align: 'center', mobileAlignment: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', type: 'body', txt: ''})
        
        // Button 
        +button({customClass: 'customFont', width: '265', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', bulletproof: false, responsive: false, btnWidth: '200', btnHeight: '50', btnBorder: '0', btnBorderRadius: '0', btnColor: '#000000', btnFontFamily: 'Open Sans,Helvetica,sans-serif', btnFontSize: '14', btnFontWeight: 'normal', btnHref: '#', btnTxtColor: '#FFFFFF', btnTxt: 'Call-to-action'})

      // Spacer
      +spacer({width: '20', mobileWidth: 'hide', bgColor: '#FFFFFF'})

      // Column 
      +column({customClass: '', width: '265', bulletproof: false, bgSrc: '', mobileWidth: '100%', direction: 'ltr', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

        // Image 
        +image({width: '265', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', removeLink: false, imgHref: '#', imgAlt: 'alt', responsive: true, imgSrc: ''})

        // Secondary Heading 
        +text({customClass: 'customFont', width: '265', align: 'center', mobileAlignment: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', type: 'secondary', txt: ''})

        // Body 
        +text({customClass: 'customFont', width: '265', align: 'center', mobileAlignment: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', type: 'body', txt: ''})
        
        // Button 
        +button({customClass: 'customFont', width: '265', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', bulletproof: false, responsive: false, btnWidth: '200', btnHeight: '50', btnBorder: '0', btnBorderRadius: '0', btnColor: '#000000', btnFontFamily: 'Open Sans,Helvetica,sans-serif', btnFontSize: '14', btnFontWeight: 'normal', btnHref: '#', btnTxtColor: '#FFFFFF', btnTxt: 'Call-to-action'})

      // Spacer
      +spacer({width: '25', mobileWidth: 'hide', bgColor: '#FFFFFF'})
