extends template.pug

block vars

  //- Defaults
  - 
    var font = {
      custom: {
        name: 'Open Sans',
        weights: [400, 700]
      },
      default: 'Helvetica, sans-serif',
      style: {
        heading: {
          primary: {
            family: 'Open Sans, Helvetica, sans-serif',
            size: '28',
            lineHeight: '32',
            fontWeight: 'bold',
            color: '#000000'
          },
          secondary: {
            family: 'Open Sans, Helvetica, sans-serif',
            size: '24',
            lineHeight: '28',
            fontWeight: 'bold',
            color: '#000000'
          },
          tertiary: {
            family: 'Open Sans, Helvetica, sans-serif',
            size: '20',
            lineHeight: '24',
            fontWeight: 'bold',
            color: '#000000'
          }
        },
        body: {
          family: 'Open Sans, Helvetica, sans-serif',
          size: '16',
          lineHeight: '20',
          fontWeight: 'normal',
          color: '#000000'
        },
        small: {
          family: 'Open Sans, Helvetica, sans-serif',
          size: '11',
          lineHeight: '15',
          fontWeight: 'normal',
          color: '#000000'
        }
      }
    };

block font

  include includes/customFont
    
block customCSS

  include includes/styleHamburger

  // Custom CSS
  style.
    @media only screen and (max-width: 600px) {
      .customClass {
        /* Make sure to add !important to overwrite inline CSS */
      }
    }

block content
 
  //- START HERE

  +wrapper({customClass: '', width: '600', bgColor: '#FFFFFF', paddingTop: '32', paddingRight: '0', paddingBottom: '32', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
  
    +row({width: '600', direction: 'ltr', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      +column({width: '600', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

        +hamburger({width: '600', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '16', paddingRight: '0', paddingBottom: '16', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', hamburgerColor: '#000000'})
          +hamburgerLink({width: '284', bgColor: '#FFFFFF', paddingTop: '16', paddingRight: '16', paddingBottom: '16', paddingLeft: '16', borderTop: '16', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Helvetica, sans-serif', fontSize: '14', fontWeight: 'normal', lineHeight: '14', fontColor: '#000000', txt: 'Menu 1'})
          +hamburgerLink({width: '284', bgColor: '#FFFFFF', paddingTop: '16', paddingRight: '16', paddingBottom: '16', paddingLeft: '16', borderTop: '16', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Helvetica, sans-serif', fontSize: '14', fontWeight: 'normal', lineHeight: '14', fontColor: '#000000', txt: 'Menu 2'})
          +hamburgerLink({width: '284', bgColor: '#FFFFFF', paddingTop: '16', paddingRight: '16', paddingBottom: '16', paddingLeft: '16', borderTop: '16', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Helvetica, sans-serif', fontSize: '14', fontWeight: 'normal', lineHeight: '14', fontColor: '#000000', txt: 'Menu 3'})
