extends template.pug

block vars

  - var color = {bg: '#FFFFFF', txt: '#000000', hlight: '#cc0000'};
  
block content

  //- Start Here
  +wrapper
    +row
      +column
        +img
        +txt
        +btn