extends template.pug

block vars

  - var color = {bg: '#FFFFFF', txt: '#000000', hlight: '#000000'};
  //- custom only supports fonts found on https://fonts.google.com/
  - var font = {custom: [{name: 'Source Sans Pro', weights: [200,700]}], default: ''}

block font

  - if (font.custom !== undefined)
    each curFont in font.custom
      - var fontName = curFont.name.split(' ').join('+');
      - var fontWeights = curFont.weights.join(',');
      link(href='https://fonts.googleapis.com/css?family=' + fontName + ':' + fontWeights, rel='stylesheet')/

  // -->
    <!--[if mso]>
    <style>
    body, table, td, th { font-family: #{font.default != '' ? font.default : 'Helvetica, sans-serif'} !important; }
    </style>
    <![endif]--> <!--

block content
  
  // HEADER
  +wrapper({width: '600', bgColor: '#FFFFFF', paddingTop: '16', paddingRight: '0', paddingBottom: '40', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
  
    +row({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      // Spacer
      +column({width: '225', mobileWidth: 'hide', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      // Logo
      +column({width: '150', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +img({width: '150', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', imgHref: 'https://www.pure360.com/', imgTitle: 'Pure360 Homepage', imgSrc: 'https://www.uploadlibrary.com/newpure360starter/Pure360%20Resources/Logo-Pure360-Medium.png', imgWidth: '150'})
        
      // Spacer
      +column({width: '225', mobileWidth: 'hide', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
  // MAIN ARTICLE
  +wrapper({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '40', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
  
    +row({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      +column({width: '600', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +txt({mobileAlignment: 'left', width: '600', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '32', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '32', fontWeight: 'bold', lineHeight: '36', fontColor: '#25455e', txt: 'Welcome to the first of our become a PureCampaign expert series'})
        
        +txt({mobileAlignment: 'left', width: '600', align: 'center', valign: 'middle', bgColor: '#2c8db9', paddingTop: '12', paddingRight: '32', paddingBottom: '12', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'bold', lineHeight: '18', fontColor: '#FFFFFF', txt: 'Part 1 of 5'})
        
        +txt({mobileAlignment: 'left', width: '600', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '12', paddingRight: '32', paddingBottom: '16', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'normal', lineHeight: '27', fontColor: '#25455e', txt: 'Discover all the features and functionality you need to get started and gain the most ROI from our PureCampaign platform.'})
        
        +txt({mobileAlignment: 'left', width: '600', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '32', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'normal', lineHeight: '27', fontColor: '#25455e', txt: 'you a useful insight to familiarise yourself with the platform.'})
        
        // Button
        +subRow({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '32', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

          +column({width: '150', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

          +column({width: '300', mobileWidth: '80%', align: 'center', valign: 'top', bgColor: '#25455e', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '5px solid #162938', borderLeft: '0'})

            +txt({width: '300', align: 'center', valign: 'top', bgColor: '#25455e', paddingTop: '20', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '16', fontWeight: 'bold', lineHeight: '24', fontColor: '#25455e', txt: '<a href="https://www.pure360.com/thank-you-pure-campaign-ultimate-guide/" target="_blank" title="Ultimate Guide to PureCampaign" style="text-decoration: none; color: #FFFFFF;">Download The Ultimate Guide to PureCampaign &rarr;</a>'})
            
          +column({width: '150', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
          
  // IMAGE
  +wrapper({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '40', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
    +row({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      +column({width: '600', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +img({removeLink: 'true', width: '600', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '32', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', imgHref: '#', imgTitle: 'title', responsive: 'true', imgSrc: 'https://www.uploadlibrary.com/newpure360starter/Pure360%20Resources/PureCampaign.png', imgWidth: '600'})
      
  // SUB ARTICLE - TEXT / IMAGE
  +wrapper({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '40', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
    +row({direction: 'rtl', width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      // Image
      +column({width: '300', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +img({removeLink: 'true', width: '300', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '24', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', imgHref: '#', imgTitle: 'title', responsive: 'title', imgSrc: 'https://www.uploadlibrary.com/newpure360starter/Pure360%20Resources/ImportContacts.png', imgWidth: '300'})
  
      // Text
      +column({width: '300', mobileWidth: '100%', align: 'center', valign: 'middle', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +txt({width: '300', align: 'left', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '32', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '32', fontWeight: 'bold', lineHeight: '36', fontColor: '#25455e', txt: 'Upload your list'})
        
        +txt({width: '300', align: 'left', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '32', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'normal', lineHeight: '27', fontColor: '#25455e', txt: 'The first step you will need to take in order to create your email campaigns is to upload your email list and manage your contacts. It’s quick and easy to do and here’s our how guide.'})
        
        // Button
        +subRow({width: '300', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '32', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

          +column({width: '32', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

          +column({width: '236', mobileWidth: '80%', align: 'center', valign: 'top', bgColor: '#25455e', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '5px solid #4EB0A0', borderLeft: '0'})

            +txt({width: '236', align: 'center', valign: 'top', bgColor: '#3ED27C', paddingTop: '20', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '16', fontWeight: 'bold', lineHeight: '24', fontColor: '#25455e', txt: '<a href="https://help.pure360.com/getting-started/#list" target="_blank" title="How to upload your list" style="text-decoration: none; color: #FFFFFF;">How to upload your list &rarr;</a>'})
            
          +column({width: '32', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
          
  // SUB ARTICLE - TEXT / TEXT
  +wrapper({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '40', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
    +row({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      // Image
      +column({width: '300', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +img({removeLink: 'true', width: '300', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '24', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', imgHref: '#', imgTitle: 'title', responsive: 'title', imgSrc: 'https://www.uploadlibrary.com/newpure360starter/Pure360%20Resources/InAppContact.png', imgWidth: '300'})
    
      // Text
      +column({width: '300', mobileWidth: '100%', align: 'center', valign: 'middle', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +txt({width: '300', align: 'left', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '32', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '32', fontWeight: 'bold', lineHeight: '36', fontColor: '#25455e', txt: 'Important contact details'})
        
        +txt({width: '300', align: 'left', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '32', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'normal', lineHeight: '27', fontColor: '#25455e', txt: 'We\'re here to help you every step of the way, from getting started, to best practise and ongoing strategic advice. Here are some of our key resources and contact details, so don’t hesitate to get in touch if there is anything we can help with.'})
        
        // Button
        +subRow({width: '300', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '32', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

          +column({width: '32', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

          +column({width: '236', mobileWidth: '80%', align: 'center', valign: 'top', bgColor: '#25455e', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '5px solid #4EB0A0', borderLeft: '0'})

            +txt({width: '236', align: 'center', valign: 'top', bgColor: '#3ED27C', paddingTop: '20', paddingRight: '0', paddingBottom: '20', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '16', fontWeight: 'bold', lineHeight: '24', fontColor: '#25455e', txt: '<a href="#" target="_blank" title="Pure360 Support" style="text-decoration: none; color: #FFFFFF;">View our Support Website &rarr;</a>'})
            
          +column({width: '32', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
          
  // CONTACT
  +wrapper({width: '600', bgColor: '#2c8db9', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
        
    +row({width: '600', bgColor: '#2c8db9', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      // Text
      +column({width: '600', mobileWidth: '100%', align: 'center', valign: 'middle', bgColor: '#2c8db9', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +txt({width: '600', align: 'center', valign: 'top', bgColor: '#2c8db9', paddingTop: '24', paddingRight: '32', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '32', fontWeight: 'bold', lineHeight: '36', fontColor: '#FFFFFF', txt: 'Get in touch'})
        
        +txt({width: '600', align: 'center', valign: 'top', bgColor: '#2c8db9', paddingTop: '0', paddingRight: '32', paddingBottom: '4', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'normal', lineHeight: '27', fontColor: '#FFFFFF', txt: 'Account Management and Support Team'})
        
        +txt({width: '600', align: 'center', valign: 'top', bgColor: '#2c8db9', paddingTop: '0', paddingRight: '32', paddingBottom: '0', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'bold', lineHeight: '27', fontColor: '#FFFFFF', txt: '<a href="mailto:accountmanagers@pure360.com"title="Email Pure360 Account Managers" style="color: #FFFFFF; text-decoration: none;">accountmanagers@pure360.com</a>'})
        
        +txt({width: '600', align: 'center', valign: 'top', bgColor: '#2c8db9', paddingTop: '0', paddingRight: '32', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'bold', lineHeight: '27', fontColor: '#FFFFFF', txt: '<a href="tel:+448445877360" title="Call Pure360 Support" style="color: #FFFFFF; text-decoration: none;">0844 5877 360</a>'})
        
        +txt({width: '600', align: 'center', valign: 'top', bgColor: '#2c8db9', paddingTop: '0', paddingRight: '32', paddingBottom: '4', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'normal', lineHeight: '27', fontColor: '#FFFFFF', txt: 'Finance Department'})
        
        +txt({width: '600', align: 'center', valign: 'top', bgColor: '#2c8db9', paddingTop: '0', paddingRight: '12', paddingBottom: '24', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '18', fontWeight: 'bold', lineHeight: '27', fontColor: '#FFFFFF', txt: '<a href="mailto:finance@pure360.com" title="Email Pure360 Finance" style="color: #FFFFFF; text-decoration: none;">finance@pure360.com</a>'})
        
  // BOTTOM TEXT
  +wrapper({width: '600', bgColor: '#FFFFFF', paddingTop: '16', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

    +row({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

      +column({width: '600', mobileWidth: '100%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})

        +txt({width: '600', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '32', paddingBottom: '0', paddingLeft: '32', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', fontFamily: 'Source Sans Pro, Helvetica, sans-serif', fontSize: '16', fontWeight: 'bold', lineHeight: '16', fontColor: '#25455e', txt: 'Part 2 will include \'Designing & Scheduling your Email Campaign\''})
          
  // Footer Social Icons
  +wrapper({width: '600', bgColor: '#FFFFFF', paddingTop: '40', paddingRight: '0', paddingBottom: '40', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
  
    +row({width: '600', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
    
      // Spacer
      +column({width: '260', mobileWidth: '25%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
      // Twitter
      +column({width: '20', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +img({width: '20', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', imgHref: 'https://twitter.com/pure360', imgTitle: 'Pure360 Twitter', imgSrc: 'https://www.uploadlibrary.com/newpure360starter/Pure360%20Resources/Twitter.png', imgWidth: '20'})
      
      // Spacer
      +column({width: '15', mobileWidth: 'hide', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
      // Facebook
      +column({width: '10', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +img({width: '10', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', imgHref: 'https://www.facebook.com/Pure360EmailMarketingSoftware', imgTitle: 'Pure360 Facebook', imgSrc: 'https://www.uploadlibrary.com/newpure360starter/Pure360%20Resources/Facebook.png', imgWidth: '10'})
      
      // Spacer
      +column({width: '15', mobileWidth: 'hide', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
      // Linkedin
      +column({width: '20', mobileWidth: '10%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})
      
        +img({width: '20', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0', imgHref: 'https://www.linkedin.com/company/pure360', imgTitle: 'Pure360 Linkedin', imgSrc: 'https://www.uploadlibrary.com/newpure360starter/Pure360%20Resources/Linkedin.png', imgWidth: '20'})
      
      // Spacer
      +column({width: '260', mobileWidth: '25%', align: 'center', valign: 'top', bgColor: '#FFFFFF', paddingTop: '0', paddingRight: '0', paddingBottom: '0', paddingLeft: '0', borderTop: '0', borderRight: '0', borderBottom: '0', borderLeft: '0'})