extends template.pug

block vars

  - var color = {bg: '#FFFFFF', txt: '#25455E', hlight: '#4AB0A1'};
  
block content

  //- Start Here  
  +wrapper({width: '100%', paddingBottom: '24', bgColor: '#F7F7F7'})
    +row({width: '600'})
      +column({width: '600', mobileWidth: '100%'})
        +img({width: '600', responsive: 'true'})
    +row({width: '600', mobileWidth: '100%'})
      +column({width: '600', paddingTop: '32', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({width: '568', txt: 'Main Title', fontSize: '32', lineHeight: '32', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({width: '568', txt: 'Introduction text/headline article here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.', fontSize: '18', lineHeight: '27', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({width: '568', btnTxt: 'Call-to-action', btnColor: '#4AB0A1', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
        
  +wrapper({width: '100%', paddingBottom: '24', bgColor: '#F7F7F7'})
    +row({width: '600', bgColor: '#FFFFFF'})
      +column({width: '288', mobileWidth: '100%', paddingTop: '16', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({width: '256', txt: 'Article Title', fontSize: '24', lineHeight: '24', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({width: '256', txt: 'Article text here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.', fontSize: '16', lineHeight: '24', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({width: '256', btnTxt: 'Call-to-action', btnColor: '#319DCE', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
      +column({width: '24', mobileWidth: 'hide', bgColor: 'F7F7F7'})
      +column({width: '288', mobileWidth: '100%', paddingTop: '16', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({width: '256', txt: 'Article Title', fontSize: '24', lineHeight: '24', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({width: '256', txt: 'Article text here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.', fontSize: '16', lineHeight: '24', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({width: '256', btnTxt: 'Call-to-action', btnColor: '#319DCE', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
        
  +wrapper({width: '100%', paddingBottom: '24', bgColor: '#F7F7F7'})
    +row({width: '600', bgColor: '#FFFFFF'})
      +column({width: '184', mobileWidth: '100%', paddingTop: '16', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({width: '184', txt: 'Article Title', fontSize: '20', lineHeight: '24', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({width: '184', txt: 'Article text here lorem ipsum dolor sit amet, consectetuer adipiscing elit...', fontSize: '16', lineHeight: '24', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({width: '184', btnTxt: 'Call-to-action', btnColor: '#4AB0A1', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
      +column({width: '24', mobileWidth: 'hide', bgColor: 'F7F7F7'})
      +column({width: '184', mobileWidth: '100%', paddingTop: '16', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({width: '184', txt: 'Article Title', fontSize: '20', lineHeight: '24', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({width: '184', txt: 'Article text here lorem ipsum dolor sit amet, consectetuer adipiscing elit...', fontSize: '16', lineHeight: '24', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({width: '184', btnTxt: 'Call-to-action', btnColor: '#319DCE', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
      +column({width: '24', mobileWidth: 'hide', bgColor: 'F7F7F7'})
      +column({width: '184', mobileWidth: '100%', paddingTop: '16', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({width: '184', txt: 'Article Title', fontSize: '20', lineHeight: '24', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({width: '184', txt: 'Article text here lorem ipsum dolor sit amet, consectetuer adipiscing elit...', fontSize: '16', lineHeight: '24', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({width: '184', btnTxt: 'Call-to-action', btnColor: '#7961CB', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
        
  +wrapper({width: '100%', paddingBottom: '24', bgColor: '#F7F7F7'})
    +row({width: '600', bgColor: '#FFFFFF'})
      +column({width: '300', mobileWidth: '100%'})
        +img({width: '300', responsive: 'true'})
      +column({width: '300', mobileWidth: '100%', paddingTop: '16', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({width: '268', txt: 'Main Title', fontSize: '24', lineHeight: '24', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({width: '268', txt: 'Article text here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.', fontSize: '16', lineHeight: '24', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({width: '268', btnTxt: 'Call-to-action', btnColor: '#7961CB', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
      
  +wrapper({width: '100%', paddingBottom: '24', bgColor: '#F7F7F7'})
    +row({width: '600', bgColor: '#FFFFFF'})
      +column({width: '300', mobileWidth: '100%', paddingTop: '16', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({width: '268', txt: 'Main Title', fontSize: '24', lineHeight: '24', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({width: '268', txt: 'Article text here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.', fontSize: '16', lineHeight: '24', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({width: '268', btnTxt: 'Call-to-action', btnColor: '#7961CB', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
      +column({width: '300', mobileWidth: '100%'})
        +img({width: '300', responsive: 'true'})