extends template.pug

block vars

  - var color = {bg: '#FFFFFF', txt: '#25455E', hlight: '#4AB0A1'};
  
block content

  //- Start Here  
  +wrapper({width: '600', paddingBottom: '32'})
    +row({width: '600'})
      +column({width: '600'})
        +img({width: '600', imgSrc:'rawpixel-609018-unsplash.jpg'})
    +row({width: '600'})
      +column({width: '600', paddingTop: '32', paddingRight: '16', paddingLeft: '16', paddingBottom: '16'})
        +txt({txt: 'Main Title', fontSize: '32', fontWeight: 'bold', align: 'left', paddingBottom: '8'})
        +txt({txt: 'Introduction text/headline article here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.', fontSize: '18', fontWeight: 'normal', align: 'left', paddingBottom: '16'})
        +btn({btnTxt: 'Call-to-action', btnColor: '#4AB0A1', btnPaddingTop: '8', btnPaddingRight: '16', btnPaddingBottom: '8', btnPaddingLeft: '16', btnFontSize: '18', align: 'left'})
        
  +wrapper({width: '600'})
    +row({width: '600'})
      +column({width: '300'})
        +txt
        +txt
        +btn
      +column({width: '300'})
        +txt
        +txt
        +btn