block vars

doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title Template
    meta(http-equiv='Content Type' content='text/html; charset=utf-8')/
    meta(http-equiv='X-UA-Compatible' content='IE=edge')/
    meta(name='viewport', content='width=device-width, initial-scale=1')/
    meta(content='telephone=no, email=no', name='format-detection')/

    include includes/style

  body
  
    include includes/mixins
  
    block content