block vars

doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title Template
    meta(http-equiv='Content Type' content='text/html; charset=utf-8')/
    meta(name='viewport', content='width=device-width, initial-scale=1')/
    
    meta(content='date=no, address=no, telephone=no, email=no', name='format-detection')/
    //- iOS Scaling Issue Fix
    meta(name='x-apple-disable-message-reformatting')/
    
    // -->
      <!--[if gte mso 9]>
      <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
      <![endif]--> <!--
      
    // -->
      <!--[if gte mso 9]><xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml><![endif]--> <!--
      
    block font

    include includes/style

  body
  
    include includes/mixins
  
    block content